
 /**
 * Vertical align anything with 3 lines of CSS (excluding vendor prefixes)
 *
 * .element {
 *   position: relative;
 *   top: 50%;
 *   transform: translateY(-50%);
 * }
 * -----------------------------------------
 * Read more at: zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
 */


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,100);
.text p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ====================================
   Base styling, to make the demo more fancy
   ==================================== */
body {
  font-family: Roboto, sans-serif;
  background: #2C3D51;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 0.5em 0 1em 0;
}

h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
  color: #ECF0F1;
}

section {
  display: block;
  max-width: 360px;
  background: black;
  margin: 0 auto 1em;
  height: auto;
  border-radius: .2em;
  position: relative;
  color: white;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/*section img, section p {
  padding: 1em;
  margin: 0;*/
}


.read-more {
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 3em;
}
.read-more a {
  text-decoration: none;
  color: #E74C3C;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 6em;
  margin-top: 5em;
  margin-bottom: 3em;
  margin-left: 0.8em;

}

.button2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 6em;
  margin-top: 3em;
  margin-bottom: 5em;
  margin-left: 0.8em;

}